@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato&display=swap');

/* default props */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* custom props */
    /* fonts*/
    --font-main: 'Inter', sans-serif;
    --font-btn: 'Lato', sans-serif;

    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font sizes */
    --fs-h1: 4rem;
    --fs-h2: 2.8rem;
    --fs-h3: 2.6rem;
    --fs-h4: 2.4rem;
    --fs-h5: 2rem;
    --fs-h6: 1.8rem;

    --fs-p-lrg: 1.6rem;
    --fs-p-reg: 1.5rem;

    /* colors */
    --color-hero-bg: #614DD1;
    --color-light-bg: rgba(97, 77, 209, 0.1);
    --color-course-bg: rgb(229, 238, 253);
    --color-btn: #EB5757;
    --color-btn-border: #FF425C;
    --color-font: #09202B;
    --color-font-sec: #435866;
    --color-font-footer: #7B8290;
    --color-font-white: #ffffff;
    --color-footer-bg: #1E2431;


}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--fs-p-reg);
    line-height: 2.6rem;
    font-family: var(--font-main);
    color: var(--color-font-sec);
    font-weight: var(--fw-regular);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--color-font);
    font-weight: var(--fw-semibold);
}

h1 {
    font-size: var(--fs-h1);
    line-height: 4.2rem;
}

h2 {
    font-size: var(--fs-h2);
    line-height: 4rem;
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
    line-height: 2.9rem;
}

h5 {
    font-size: var(--fs-h5);
}

h6 {
    font-size: var(--fs-h6);
}

p {
    font-size: var(--fs-p-reg);
}

section {
    padding-block: clamp(2rem, 5%, 5rem);
}

li {
    list-style: none;
}

a,
.red {
    text-decoration: none;
    color: var(--color-btn-border);
}

.red {
    font-weight: var(--fw-medium) !important;
}

.btn {
    line-height: 3.8rem;
    width: 13.4rem;
    text-align: center;
    display: inline-block;
    font-family: var(--font-btn);
    background-color: var(--color-btn);
    color: var(--color-font-white);
    padding: 0 2rem;
    border: 1px solid var(--color-btn-border);
    border-radius: 5rem;
}

.btn:hover {
    color: var(--color-btn);
    background-color: var(--color-font-white);
}

/* default grid layout */
.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 1170px;
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.full-width),
.full-width> :not(.full-width) {
    grid-column: content;
}

.content-grid>.full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}

/* for using flex */
.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* end default props */

/* header section start */
header {
    background-image: url(./static/hero_bg.svg);
    width: 100%;
    background-position-x: center;
    background-position-y: -1rem;
    background-repeat: no-repeat;
    padding: 1.7rem 0 5rem 0;
    color: var(--color-font-white);
    overflow: hidden;
}

header::after,
header::before {
    width: 10.7rem;
    height: 12.3rem;
    content: '';
    background: url(./static/squaredots_white.svg);
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
}

header::after {
    position: relative;
    bottom: 10rem;
    right: 7rem;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
}

header a {
    color: var(--color-font-white);
    text-decoration: none;
}

/* nav */
.header__layout {
    position: relative;
    z-index: 5;
}

.nav {
    gap: clamp(0.3rem, 1vw, 2rem);
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    font-weight: var(--fw-medium);
}

.nav__menu {
    gap: clamp(0.3rem, 1vw, 2rem);
    position: relative;
    transition: all 0.3s ease;
}


.nav__menu>li {
    padding: 1rem;
    border-bottom: 4px solid transparent;
}

.nav__menu>li:hover {
    border-color: var(--color-btn-border);
}

.nav__submenu {
    width: 25%;
    text-align: center;
    visibility: hidden;
    top: 4.5rem;
    left: calc(50% - 1rem);
    position: absolute;
    background-color: var(--color-hero-bg);
    padding-bottom: 1rem;
    border-radius: 1rem;
    z-index: 99;
    /* transition: all 0.3s ease; */
    box-shadow: -1px 1px 10px 5px var(--color-font-sec);
}

.nav__menu>li:hover .nav__submenu {
    visibility: initial;
}

.nav__submenu>li {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 3px solid transparent;

    transition: all 0.3s ease-in-out;
}

.nav__submenu>li:hover {
    border-color: var(--color-btn);
}

#nav__open,
#nav__close {
    display: none;
}



#profile_block {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: grid;
    place-items: center;
}

#profile_block:hover {
    background-color: var(--color-btn-border);
}

#profile_block:hover #profile__card {
    visibility: initial;
}

#profile__card {
    visibility: hidden;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 4.5rem;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: 25rem;
    background-color: var(--color-font-white);
    border-radius: 1.5rem;
    color: var(--color-font);
    font-weight: 600;
    border: 1px solid var(--color-font-sec);
    box-shadow: -1px 1px 10px 5px var(--color-font-sec);
    transition: all 0.3s ease-in-out;
}

#profile__card>svg {
    display: block;
    width: 8rem;
    height: 7rem;
}

#menu_cta {
    display: none;
}

#nav_cta {
    display: initial;
}

/* nav end*/

/* hero section */
.hero {
    position: relative;
    z-index: 1;
    padding-block: clamp(4rem, 10%, 8.6rem) clamp(4rem, 15%, 11.3rem);
}

.pagenav {
    line-height: 4.2rem;
    padding-bottom: 0.8rem;
}

.hero>h4 {
    color: var(--color-font-white);
    line-height: 4.2rem;
    padding: 1.7rem 0 0.8rem;
}

.hero p {
    max-width: 77rem;
}

.rating__summary {
    justify-content: flex-start;
    padding-bottom: 1rem;
    gap: 1rem;
}

.rating__summary div {
    padding-top: 0.5rem;
}

.rating__sum {
    font-size: var(--fs-p-lrg);

}

.hero__start {
    width: 17rem;
    font-size: var(--fs-p-lrg);
}

.total_enrolled {
    padding-inline: clamp(0.5rem, 2%, 5rem);
}

.skill-req {
    flex-wrap: wrap;
    gap: clamp(0.3rem, 1vw, 2rem);
    justify-content: space-around;
    background-color: var(--color-font-white);
    color: var(--color-font);
    padding: 3.8rem 0 2.6rem;
    border-radius: 0.6rem;
    box-shadow: 14px 11px 45px 0px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.skill-req li {
    height: 4.5rem;
    gap: 1rem;
    flex-wrap: nowrap;
}

.skill-req p {
    color: var(--color-font-sec);
    line-height: 1.8rem;
}



/* hero section end */

/* header section end */

.about-course {
    gap: clamp(0.3rem, 10vw, 5rem);
    justify-content: flex-start;
}


.about-course a {
    display: inline-block;
    padding: 2rem 0 0 2rem;
    font-weight: var(--fw-medium);
}

.about__detail {
    max-width: 66rem;
    padding-left: 2rem;
    border-left: 4px solid var(--color-btn-border);
}

.about__detail h2 {
    padding-bottom: 2rem;
}

.skill {
    max-width: 36.3rem;
    background-color: var(--color-light-bg);
    padding: 3.7rem 6.3rem 3.3rem 3.8rem;
    border-radius: 1rem;
}

.skill h4 {
    padding-bottom: 1.2rem;
}

.skill li {
    line-height: 3.7rem;
    display: flex;
    align-items: center;
    gap: clamp(1rem, 1vw, 1.1rem);
}

.course_detail {
    flex-wrap: wrap;
    padding: 2rem 0 3rem;
}

#expand_all {
    cursor: pointer;
}

.course_detail__summary li {
    padding-right: 3rem;
    display: flex;
    gap: 0.5rem;
}

.curriculum__right-actions {
    gap: 1rem;
}

.social {
    display: inline-flex;
    vertical-align: center;
    gap: 0.5rem;
}

.social a {
    padding: .7rem;
    border: 1px solid var(--color-btn);
    border-radius: 50%;
    width: 3.5rem;
    aspect-ratio: 1;
}

.social a:hover {
    background-color: var(--color-font-sec);
}

.social img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
}

.daily__lessons {
    padding: 4.2rem 5.2rem 6.7rem 6.2rem;
    border-radius: .8rem;
    background: url(./static/bg_cityscape.svg), linear-gradient(270deg, rgba(229, 238, 253, 1) 4.15%, rgba(229, 238, 253, 0) 137.71%);
    background-repeat: no-repeat;
    background-position: right bottom;
    line-height: 4.2rem;
}

.summary {
    cursor: pointer;
    user-select: none;
}

.active>.summary .expand-button {
    transform: rotate(180deg);
}

.details>ul {
    display: none;
}

.active>ul {
    display: block !important;
}

.lesson {
    padding-block: 2rem;
}

.lesson .red {
    font-size: var(--fs-p-lrg);
    line-height: 1.7rem;
}


.lesson__task {
    display: grid;
    align-items: center;
    grid-template-columns: max-content minmax(auto, 100%) 1fr;
    grid-gap: 3rem;
}

.lesson__subtask {
    grid-column: 2 / 3;
}

.innerline {
    border: none;
    border-bottom: 1px solid #C4E2F1;
}

.about__author>p {
    max-width: 90rem;
    padding: 1.5rem 0;
}

.author {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
}

.review {
    position: relative;
    padding: 10rem 0;
    text-align: center;
    background-color: var(--color-course-bg);
}

.review_slides {
    overflow: hidden;
}

/* for bg dots */
.review_slides::after,
.review_slides::before {
    width: 10.7rem;
    height: 12.3rem;
    position: absolute;
    content: '';
    background: url(./static/squaredots_gradient.svg);
    background-repeat: no-repeat;
}

.review_slides::before {
    bottom: 8%;
    left: 16.5%;
}

.review_slides::after {
    top: 27%;
    right: 16.5%;
    z-index: 0;
}

.scroller {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6rem;
    aspect-ratio: 1;
    line-height: 0;
    position: absolute;
    border: 1px solid var(--color-btn-border);
    background-color: var(--color-font-white);
    bottom: calc(40% - 1.5rem);
    z-index: 99;
    opacity: 0.1;
    transition: all 0.3s ease;
    user-select: none;
}

.scroller.left {
    left: 0;
}

.scroller.right {
    right: 0;
}

.scroller:hover {
    opacity: 1;
    background-color: var(--color-btn);
}

.review>p {
    padding: 2rem 0 4rem 0;
}

.review__cards {
    /* carousel review card section */
    --card-inview: 3;
    --card-gapbetween: 2rem;
    --card-width: calc((100% / var(--card-inview)) - var(--card-gapbetween));

    position: relative;
    gap: var(--card-gapbetween);
    scroll-snap-type: x mandatory;
    z-index: 1;
    transition: all 0.3s linear;
}

.card {
    padding: 3rem;
    width: var(--card-width);
    background-color: var(--color-font-white);
    border-radius: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    scroll-snap-align: center;
}

.card>* {
    padding: 0.3rem 0;
}

.learner_country {
    font-weight: var(--fw-medium);
}

.learners-company {
    text-align: center;
    padding: 10rem 0;
}

.learners-company>h2 {
    padding-bottom: 3.5rem;
}

.company_logos {
    flex-wrap: wrap;
    justify-content: center;
}

.company_logos>img {
    padding: 2rem 3rem;
}

footer {
    color: var(--color-font-white);
    padding-bottom: 0;
}

footer h3 {
    color: var(--color-font-white);
}

.hero__invitation {
    position: relative;
}

.hero__invitation::after {
    --bottom-cover: 25rem;
    content: '';
    background-image: url(./static/hero_bg.svg);
    background-position: top center;
    width: 100%;
    height: calc(100% + var(--bottom-cover));
    position: absolute;
    bottom: - var(--bottom-cover);
    z-index: -1;
}

.hero__inv_container {
    position: relative;
    gap: 1rem;
    /* display: flex; */
}

.hero__inv_container h3 {
    padding-bottom: 1.1rem;
}

.hero__inv_container p {
    padding-bottom: 4rem;
}

.hero__inv_container .btn {

    width: 17rem;

}

.office {
    position: absolute;
    width: 24rem;
    bottom: -10rem;
    right: 0;
}

.footer__detail {
    z-index: 2;
    background-image: url(./static/footer_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 0;
}

.footer__detail .social a {
    border: none !important;
}

.footer__d_container {
    flex-wrap: wrap;
    padding-top: 10rem;
    align-items: flex-start;
}

.footer__d_container h6,
.company__detail>img {
    color: var(--color-font-white);
    padding-bottom: 2rem;
}

.footer__d_container a,
.footer__d_container p {
    color: var(--color-font-footer);
}

.footer__d_container li {
    line-height: 3.4rem;
}

.company__detail {
    max-width: 40rem;
}

.toc {
    padding-top: 2rem;
    text-align: center;
}

.toc>hr {
    left: calc(50% - 49%);
    position: absolute;
    width: 98%;
    border: none;
    border-bottom: 1px solid #2B2D32;
}

.toc>p {
    color: var(--color-font-footer);
    line-height: 6.4rem;
}


@media (max-width: 768px) {

    *,
    *::after,
    *::before {
        /* custom props */
        /* font sizes */
        --fs-h1: 3rem;
        --fs-h2: 2.6rem;
        --fs-h3: 2.4rem;
        --fs-h4: 2.2rem;
        --fs-h5: 2rem;
        --fs-h6: 1.8rem;

        --fs-p-reg: 1.6rem;
    }

    .logo {
        height: 4rem;
    }

    header::after {
        position: relative;
        bottom: 12rem;
        right: 7rem;
    }

    header::before {
        top: 7rem;
        left: -5rem;
    }

    .header__layout {
        flex-direction: row !important;
    }

    .nav,
    .nav__menu {
        gap: 0.3rem;
    }

    .nav__menu {
        flex-direction: column;
        position: fixed;
        background-color: var(--color-course-bg);
        top: 0;
        right: 0;
        /* from the content grid padding inline*/
        width: 100vw;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;
        box-shadow: -1px 1px 10px 5px var(--color-font-sec);
        z-index: 2;
    }

    #nav__open:active,
    #nav__close:active {
        transform: scale(1.2);
        background-color: var(--color-btn);
    }

    #nav__open {
        font-weight: var(--fw-bold);
        text-align: center;
        width: 4rem;
        aspect-ratio: 1;
        display: block;
        color: var(--color-font-white);
        font-size: var(--fs-h1);
        line-height: 4rem;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        user-select: none;
    }

    #nav__close {
        font-weight: var(--fw-bold);
        text-align: center;
        width: max-content !important;
        aspect-ratio: 1;
        display: block;
        color: var(--color-font);
        font-size: var(--fs-h1);
        padding: 0 0 .5rem 0;
        line-height: var(--fs-h1);
        cursor: pointer;
        border: none;
        border-radius: 50%;
        user-select: none;
    }

    .nav__menu::before:hover {
        color: var(--color-btn);
        background-color: var(--color-btn);
    }

    .hidden {
        right: -150vw;
    }

    .nav__menu * {
        color: var(--color-font);
    }

    .nav__menu>* {
        width: 100%;
    }

    .nav__submenu {
        display: none;
        top: 0;
        left: 0;
        position: relative;
        background-color: var(--color-light-bg);
        padding: 0;
        z-index: 9;
        transition: all 0.5s ease-in-out;
        box-shadow: none;
    }

    .nav__menu>li:hover .nav__submenu {
        display: initial;
    }

    .nav__submenu>li {
        width: 60%;
        padding: 0.5rem;
    }

    .nav__submenu>li:hover {
        border-color: var(--color-hero-bg);
    }

    #nav_cta {
        display: none;
    }

    #menu_cta {
        display: initial;
    }

    #menu_cta:hover {
        border-color: transparent;
    }

    #profile__card {
        top: 4rem;
        left: -20rem;
        height: 20rem;
    }



    .flex-center {
        flex-wrap: wrap;
    }

    .skill-req {
        justify-self: center;
        width: fit-content;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 3rem clamp(1rem, 6%, 10rem);
    }

    .skill-req li {
        padding: 0.5rem 0;
    }

    a {
        padding-block: 2rem;
    }

    .about-course {
        justify-content: center;
    }

    .skill {
        padding-right: 4rem;

    }

    .course_detail__summary {
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }

    .curriculum__right-actions {
        gap: 4rem;
    }

    .daily__lessons {
        padding: 3rem;
        line-height: 3rem;
    }


    .title_expand {
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .scroller {
        /* aspect-ratio: 1; */
        bottom: 2rem;
    }

    .scroller.left {
        left: calc(50% - 6.5rem);
    }

    .scroller.right {
        right: calc(50% - 6.5rem);
    }

    .review__cards {
        /* carousel review card section */
        --card-inview: 2;
        --card-gapbetween: 2rem;
        --card-width: calc((100% / var(--card-inview)) - var(--card-gapbetween)/2);
        flex-wrap: nowrap;
    }

    .review_slides {
        overflow: hidden;
    }

    .review_slides::before {
        bottom: 5%;
        left: 0;
    }

    .review_slides::after {
        top: 25%;
        right: 0;
    }


    .company_logos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    .company_logos>img {
        padding: 1rem;
    }

    .office {
        width: clamp(9rem, 18vw, 15rem);
        bottom: -7rem;
    }

    .footer__d_container {
        flex-wrap: wrap;
        padding-top: 3rem;
        gap: 2rem;
        justify-content: center;
    }

    .footer__d_container h6,
    .company__detail>img {
        padding-bottom: 1.5rem;
    }
}

@media (max-width:480px) {

    *,
    *::after,
    *::before {
        /* custom props */
        /* font sizes */
        --fs-h1: 2.8rem;
        --fs-h2: 2.6rem;
        --fs-h3: 2.4rem;
        --fs-h4: 2.2rem;
        --fs-h5: 1.8rem;
        --fs-h6: 1.8rem;
        --fs-p-lrg: 1.6rem;
        --fs-p-reg: 1.5rem;

    }

    /* hide first 4 item of breadcrumb */
    .pagenav *:nth-child(-n+4) {
        display: none;
    }

    #profile__card {
        position: fixed;
        top: 6rem;
        left: calc(50% - 45vw);
        width: 90vw;
        height: 25rem;
    }

    #paperplane {
        width: 10rem;
    }

    .rating__summary {
        justify-content: center;
    }

    .hero {
        text-align: center;
    }


    .total_enrolled {
        padding-top: 0.5rem;
        display: block;
    }

    .skill {
        padding: 2rem;
    }

    .course_detail__summary {
        flex-direction: column;
        align-items: flex-start;
    }

    .curriculum__right-actions {
        gap: 2rem;
    }

    .daily__lessons {
        padding: 2rem;
        line-height: 3rem;
    }

    .review__cards {
        /* carousel review card section */
        --card-inview: 1;
        --card-gapbetween: 2rem;
        --card-width: calc((100% / var(--card-inview)));
    }

    .company_logos {
        grid-template-columns: 1fr 1fr;
    }

    .office {
        bottom: -3rem;
    }

    .footer__d_container {
        flex-direction: column;
        padding-top: 3rem;
        gap: 3rem;
    }

    .footer__d_container h6,
    .company__detail>img {
        padding-bottom: 1rem;
    }

}