@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* custom props */
    /* fonts*/
    --font-main: 'Inter', sans-serif;
    --font-btn: 'Lato', sans-serif;

    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* font sizes */
    --fs-h1: 4rem;
    --fs-h2: 2.8rem;
    --fs-h3: 2.6rem;
    --fs-h4: 2.4rem;
    --fs-h5: 2rem;
    --fs-h6: 1.8rem;

    --fs-p-reg: 1.6rem;

    /* colors */
    --color-hero-bg: #614DD1;
    --color-light-bg: #EFF2FA;
    --color-btn: #EB5757;
    --color-btn-border: #FF425C;
    --color-font: #09202B;
    --color-font-sec: #435866;
    --color-font-footer: #7B8290;
    --color-font-white: #ffffff;
    --color-footer-bg: #1E2431;


}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--fs-p-reg);
    line-height: 2.6rem;
    font-family: var(--font-main);
    color: var(--color-font-sec);
    font-weight: var(--fw-regular);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--color-font);
    font-weight: var(--fw-semibold);
}

h1 {
    font-size: var(--fs-h1);
    line-height: 4.2rem;
    padding: 2rem 0;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
    line-height: 4.2rem;
}

h5 {
    font-size: var(--fs-h5);
}

h6 {
    font-size: var(--fs-h6);
}

p {
    font-size: var(--fs-p-reg);
}

header {
    background-image: url(./static/hero_bg.svg);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 1.7rem 0 5rem 0;
    color: var(--color-font-white);
}

header::after,
header::before {
    position: relative;
    content: '';
    background: url(./static/squaredots_white.svg);
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
}

header::after {
    top: -10rem;
    right: 6rem;
}

header::before {
    top: 0rem;
    left: 0rem;
}

.btn {
    display: inline-block;
    font-family: var(--font-btn);
    background-color: var(--color-btn);
    color: var(--color-font-white);
    padding: 0.5rem 2rem;
    border: 1px solid var(--color-btn-border);
    border-radius: 5rem;
}

.btn:hover {
    color: var(--color-btn);
    background-color: var(--color-font-white);

}

li {
    list-style: none;
}

header a {
    color: var(--color-font-white);
    text-decoration: none;
    padding: 2rem 0;
}

.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 1170px;

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.full-width),
.full-width> :not(.full-width) {
    grid-column: content;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    gap: clamp(0.3rem, 1vw, 2rem);
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.nav__menu {
    gap: clamp(0.3rem, 1vw, 2rem);
    position: relative;
    transition: all 0.3s ease-in-out;
}


.nav__menu>li {
    padding: 1rem;
    border-bottom: 4px solid transparent;
}

.nav__menu>li:hover {
    border-color: var(--color-btn-border);
}

.nav__submenu {
    text-align: center;
    visibility: hidden;
    top: 4.5rem;
    left: calc(50% - 1rem);
    position: absolute;
    background-color: var(--color-btn);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    box-shadow: -1px 1px 10px 5px var(--color-font-sec);
}

.nav__menu>li:hover .nav__submenu {
    visibility: initial;
}

.nav__submenu>li {
    padding: 1rem 3rem;
    border: 4px solid transparent;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.nav__submenu>li:hover {
    border-color: var(--color-hero-bg);
}

#profile {
    position: relative;

    padding: 1rem;
    border-radius: 50%;
}

#profile:hover {
    background-color: var(--color-btn-border);
}

#profile:hover #profile__card {
    visibility: initial;
}


#profile__card {
    visibility: hidden;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 4.5rem;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: 25rem;
    background-color: var(--color-font-white);
    border-radius: 1.5rem;
    color: var(--color-font);
    font-weight: 600;
    border: 1px solid var(--color-font-sec);
    box-shadow: -1px 1px 10px 5px var(--color-font-sec);
    transition: all 0.3s ease-in-out;
}

#profile__card>svg {
    display: block;
    width: 8rem;
    height: 7rem;
}

#menu_cta {
    display: none;
}

#nav_cta {
    display: initial;
}

section {
    padding-block: clamp(2rem, 5%, 5rem);
}

.hero {
    padding-block: clamp(4rem, 10%, 10rem);
}

.hero>h4 {
    color: var(--color-font-white);
}

.hero p {
    max-width: 77rem;
    padding: 2rem 0;
}

.rating__summary {
    justify-content: flex-start;
    padding-bottom: 1rem;
    gap: 1rem;
}

.hero__start {
    padding-inline: clamp(2rem, 5vw, 4rem);
}

.total_enrolled {
    padding-inline: clamp(0.5rem, 2%, 5rem);
}

.skill-req {
    position: relative;
    flex-wrap: wrap;
    gap: clamp(0.3rem, 1vw, 2rem);
    justify-content: space-around;
    background-color: var(--color-font-white);
    color: var(--color-font);
    padding: 2rem 0 1.5rem 0;
    border-radius: 1rem;
    box-shadow: 0px 0.5px 20px 2px var(--color-font-sec);
    z-index: 1;
}

.skill-req li {
    padding: 2rem 0;
    gap: 1rem;
    flex-wrap: nowrap;
}

.skill-req p {
    color: var(--color-font-sec);
}

.about-course {
    gap: clamp(0.3rem, 1vw, 2rem);
}

a,
.red {
    text-decoration: none;
    color: var(--color-btn-border);
}

.about-course a {
    display: inline-block;
    padding-top: 2rem;
}

.about__detail {
    max-width: 66rem;
    padding-left: 2rem;
    border-left: 4px solid var(--color-btn-border);
}

.about__detail h2 {
    padding-bottom: 2rem;
}

.skill {
    max-width: 36.3rem;
    background-color: var(--color-light-bg);
    padding: 3.7rem;
    border-radius: 1rem;
}

.skill li {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: clamp(1rem, 1vw, 2rem);
}

.course_detail {
    flex-wrap: wrap;
    padding: 2rem 0 3rem;
}

#expand_all {
    cursor: pointer;
}

.course_detail__summary li {
    padding-right: 3rem;
    display: flex;
    gap: 0.5rem;
}

.curriculum__right-actions {
    gap: 1rem;
}

.social {
    display: inline-flex;
    vertical-align: center;
    gap: 0.5rem;
}

.social a {
    padding: .7rem;
    border: 1px solid var(--color-btn);
    border-radius: 50%;
    width: 3.5rem;
    aspect-ratio: 1;
}

.social a:hover {
    background-color: var(--color-font-sec);
}

.social img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
}

.daily__lessons {
    padding: 6.5rem;
    border-radius: .8rem;
    background:
        url(./static/bg_cityscape.svg) var(--color-light-bg);
    background-repeat: no-repeat;
    background-position: right bottom;
    line-height: 4.2rem;
}

details>summary {
    list-style: none;
    cursor: pointer;
}

details[open]>summary .expand-button {
    transform: rotate(180deg);
}

.lesson {
    padding-bottom: 2rem;
}

.lesson__days {
    padding-bottom: 2rem;
}

.lesson__task {
    display: grid;
    align-items: center;
    grid-template-columns: max-content minmax(auto, 100%) 1fr;
    grid-gap: 3rem;
}

.lesson__subtask {
    grid-column: 2 / 3;
}

.innerline {
    border: none;
    border-bottom: 1px solid #C4E2F1;
}

.about__author>p {
    max-width: 90rem;
    padding: 1.5rem 0;
}

.author {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
}

.review {
    position: relative;
    padding: 10rem 0;
    text-align: center;
    background-color: var(--color-light-bg);
}

.review_slides {
    overflow: hidden;
}

/* for bg dots */
.review_slides::after,
.review_slides::before {
    width: 14rem;
    aspect-ratio: 1;
    position: absolute;
    content: '';
    background: url(./static/squaredots_gradient.svg);
    background-repeat: no-repeat;
}

.review_slides::before {
    bottom: 5%;
    left: 17%;
}

.review_slides::after {
    top: 25%;
    right: 15%;
    z-index: 0;
}

.scroller {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6rem;
    aspect-ratio: 1;
    line-height: 0;
    position: absolute;
    border: 1px solid var(--color-btn-border);
    background-color: var(--color-font-white);
    top: calc(55% - 1.5rem);
    z-index: 99;
    opacity: 0.1;
    transition: all 0.3s ease;
    user-select: none;
}

.scroller.left {
    left: -6;
}

.scroller.right {
    right: 0;
}

.scroller:hover {
    opacity: 1;
    background-color: var(--color-btn);
}

.review>p {
    padding: 2rem 0 4rem 0;
}

.review__cards {
    /* carousel review card section */
    --card-inview: 3;
    --card-gapbetween: 2rem;
    --card-width: calc((100% / var(--card-inview)) - var(--card-gapbetween));

    position: relative;
    gap: var(--card-gapbetween);
    scroll-snap-type: x mandatory;
    z-index: 1;
    transition: all 0.3s linear;
}

.card {
    padding: 3rem;
    width: var(--card-width);
    background-color: var(--color-font-white);
    border-radius: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    scroll-snap-align: center;
}

.card>* {
    padding: 0.3rem 0;
}

.learner_country {
    font-weight: var(--fw-medium);
}

.learners-company {
    text-align: center;
    padding: 10rem 0;
}

.learners-company>h2 {
    padding-bottom: 3.5rem;
}

.company_logos {
    flex-wrap: wrap;
    justify-content: center;
}

.company_logos>img {
    padding: 2rem 3rem;
}

footer {
    color: var(--color-font-white);
    padding-bottom: 0;
}

footer h3 {
    color: var(--color-font-white);
}

.hero__invitation {
    position: relative;
}

.hero__invitation::after {
    --bottom-cover: 25rem;
    content: '';
    background-image: url(./static/hero_bg.svg);
    background-position: top center;
    width: 100%;
    height: calc(100% + var(--bottom-cover));
    position: absolute;
    bottom: - var(--bottom-cover);
    z-index: -1;
}

.hero__inv_container {
    gap: 1rem;
    display: flex;
}

.hero__inv_container h3 {
    padding-bottom: 1.1rem;
}

.hero__inv_container p {
    padding-bottom: 4rem;
}

.hero__inv_container .btn {
    padding: 1rem 5rem;
}

.office {
    width: 20rem;
}

.footer__detail {
    background-image: url(./static/footer_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 0;
}

.footer__detail .social a {
    border: none !important;
}

.footer__d_container {
    flex-wrap: wrap;
    padding-top: 10rem;
    align-items: flex-start;
}

.footer__d_container h6,
.company__detail>img {
    color: var(--color-font-white);
    padding-bottom: 2rem;
}

.footer__d_container a,
.footer__d_container p {
    color: var(--color-font-footer);
}

.company__detail {
    max-width: 40rem;
}

.toc {
    padding-top: 2rem;
    /* position: relative; */
    text-align: center;
}

.toc>hr {
    left: calc(50% - 49%);
    position: absolute;
    width: 98%;
    border: none;
    border-bottom: 1px solid #2B2D32;
}

.toc>p {
    padding: 1.5rem 0;
}

.nav__bar {
    display: none;
}

@media (max-width: 768px) {

    *,
    *::after,
    *::before {
        /* custom props */
        /* font sizes */
        --fs-h1: 3rem;
        --fs-h2: 2.6rem;
        --fs-h3: 2.4rem;
        --fs-h4: 2.2rem;
        --fs-h5: 2rem;
        --fs-h6: 1.8rem;

        --fs-p-reg: 1.6rem;
    }

    .logo {
        height: 4rem;
    }

    .header__layout {
        flex-direction: row !important;
    }

    .nav,
    .nav__menu {
        gap: 0.3rem;
    }

    .nav__menu {
        flex-direction: column;
        position: absolute;
        background-color: var(--color-light-bg);
        top: 5rem;
        right: -2rem;
        /* from the content grid padding inline*/
        width: 60vw;
        align-items: flex-start;
        padding: 2rem;
        box-shadow: -1px 1px 10px 5px var(--color-font-sec);
        border-radius: 2rem 0 0 2rem;
    }

    .hidden {
        position: fixed;
        top: 7rem;
        right: -100vw;
    }

    .nav__menu * {
        color: var(--color-font);
    }

    .nav__menu>* {
        width: 100%;
    }

    .nav__submenu {
        display: none;
        top: 0;
        left: 0;
        position: relative;
        background-color: var(--color-light-bg);
        padding: 0;
        z-index: 9;
        transition: all 0.5s ease-in-out;
        box-shadow: none;
    }

    .nav__menu>li:hover .nav__submenu {
        display: initial;
    }

    .nav__submenu>li {
        width: 60%;
        padding: 0.5rem;
    }

    .nav__submenu>li:hover {
        border-color: var(--color-hero-bg);
    }

    #nav_cta {
        display: none;
    }

    #menu_cta {
        display: initial;
    }

    #menu_cta:hover {
        border-color: transparent;
    }

    #profile__card {
        top: 4rem;
        left: -20rem;
        height: 20rem;
    }

    .nav__bar {
        font-size: 4rem;
        position: relative;
        display: block;
        padding: 1rem;
        width: 6rem;
        cursor: pointer;
        z-index: 99;
        user-select: none;
        border-radius: .5rem;
        text-align: center;
    }

    .flex-center {
        flex-wrap: wrap;
    }

    .skill-req {
        justify-self: center;
        width: fit-content;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem clamp(2rem, 6%, 10rem);
    }

    .skill-req li {
        padding: 0.5rem 0;
    }

    a {
        padding-block: 2rem;
        font-weight: var(--fw-semibold);
    }

    .about-course {
        justify-content: center;
    }

    .course_detail__summary {
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }

    .curriculum__right-actions {
        gap: 4rem;
    }

    .daily__lessons {
        padding: 3rem;
        line-height: 3rem;
    }

    .lesson__days {
        padding-block: 2rem;
    }

    .title_expand {
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .scroller {
        width: 6rem;
        aspect-ratio: 1;
        top: 87%;
    }

    .review__cards {
        /* carousel review card section */
        --card-inview: 2;
        --card-gapbetween: 2rem;
        --card-width: calc((100% / var(--card-inview)) - var(--card-gapbetween)/2);
        flex-wrap: nowrap;
    }

    .review_slides::after,
    .review_slides::before {
        display: none;
    }

    .office {
        display: none;
    }

    .footer__d_container {
        flex-wrap: wrap;
        padding-top: 3rem;
        gap: 2rem;
    }

    .footer__d_container h6,
    .company__detail>img {
        padding-bottom: 1.5rem;
    }
}

@media (max-width:480px) {

    *,
    *::after,
    *::before {
        /* custom props */
        /* font sizes */
        --fs-h1: 2.8rem;
        --fs-h2: 2.6rem;
        --fs-h3: 2.4rem;
        --fs-h4: 2.2rem;
        --fs-h5: 1.8rem;
        --fs-h6: 1.8rem;
        --fs-p-reg: 1.6rem;
    }

    /* hide first 4 item of breadcrumb */
    .pagenav *:nth-child(-n+4) {
        display: none;
    }

    #profile__card {
        position: fixed;
        top: 6rem;
        left: calc(50% - 45vw);
        width: 90vw;
        height: 25rem;
    }

    #paperplane {
        display: none;
    }

    .rating__summary {
        justify-content: center;
    }

    .hero {
        text-align: center;
    }

    .hero__start {
        padding: 1.5rem 4rem;
        font-weight: var(--fw-semibold);
    }

    .total_enrolled {
        padding-top: 2rem;
        display: block;
    }

    .skill {
        padding: clamp(1.5rem, 1vw, 2rem);
    }

    .course_detail__summary {
        flex-direction: column;
        align-items: flex-start;
    }

    .curriculum__right-actions {
        gap: 2rem;
    }

    .daily__lessons {
        padding: 2rem;
        line-height: 3rem;
    }

    .review__cards {
        /* carousel review card section */
        --card-inview: 1;
        --card-gapbetween: 2rem;
        --card-width: calc((100% / var(--card-inview)));
    }

    .footer__d_container {
        flex-direction: column;
        padding-top: 3rem;
        gap: 3rem;
    }

    .footer__d_container h6,
    .company__detail>img {
        padding-bottom: 1rem;
    }
}